<<<<<<< HEAD
<<<<<<< HEAD
*{
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
}
body {
 font-family: Helvetica,Arial,sans-serif;
 font-size: 16px;
 line-height: 1.254em;
 margin: 0;
 padding: 0;
}
a {
 text-decoration: none;
 color: #3B8BBA;
}
a:hover,
a:visited {
 color: #265778;
}
#container {
 padding-left: 126px;
 position: relative;
 left: 0;
 width: 100%;
}
#menu {
 position: fixed;
 height: 100%;
 background-color: #191818;
 width: 126px;
 left: 0;
}
#menu ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
#menu ul li {
 line-height: 2.9em;
 height: 2.9em;
}
#menu li a {
 display: block;
 color: #fff;
 padding: 0 1em;
 border-bottom: 1px solid #333;
}
#menu li:hover {
 background-color: #454545;
}
#content {
 padding: 1em 8em;
}
#header,
.call-to-action {
 text-align: center;
}
#header{}
#slogan {
 color: #8997A0;
 font-size: 0.8em;
}
.call-to-action {
 padding: 1.5em 20%;
 background: #EFEFEF;
 border: 1px solid#E8E8E8;
}
.row {
 overflow: auto;
 margin: 1.5em auto;
}
.row .col {
 float: left;
 width: 31.3333%;
 margin-right: 2.99%;
}
.row .col:last-child {
 float: right;
 margin-right: 0;
}
.row .col img {
 float: left;
 margin-right: 1em;
}
#footer {
    background-color :#EFEFEF;
    text-align: center
 font-size: 85%;
 border-top: 1px solid #E6E6E6;
 color: #838383;
 padding: 1em 3em;
=======
*{
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
}
body {
 font-family: Helvetica,Arial,sans-serif;
 font-size: 16px;
 line-height: 1.254em;
 margin: 0;
 padding: 0;
}
a {
 text-decoration: none;
 color: #3B8BBA;
}
a:hover,
a:visited {
 color: #265778;
}
#container {
 padding-left: 126px;
 position: relative;
 left: 0;
 width: 100%;
}
#menu {
 position: fixed;
 height: 100%;
 background-color: #191818;
 width: 126px;
 left: 0;
}
#menu ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
#menu ul li {
 line-height: 2.9em;
 height: 2.9em;
}
#menu li a {
 display: block;
 color: #fff;
 padding: 0 1em;
 border-bottom: 1px solid #333;
}
#menu li:hover {
 background-color: #454545;
}
#content {
 padding: 1em 8em;
}
#header,
.call-to-action {
 text-align: center;
}
#header{}
#slogan {
 color: #8997A0;
 font-size: 0.8em;
}
.call-to-action {
 padding: 1.5em 20%;
 background: #EFEFEF;
 border: 1px solid#E8E8E8;
}
.row {
 overflow: auto;
 margin: 1.5em auto;
}
.row .col {
 float: left;
 width: 31.3333%;
 margin-right: 2.99%;
}
.row .col:last-child {
 float: right;
 margin-right: 0;
}
.row .col img {
 float: left;
 margin-right: 1em;
}
#footer {
    background-color :#EFEFEF;
    text-align: center
 font-size: 85%;
 border-top: 1px solid #E6E6E6;
 color: #838383;
 padding: 1em 3em;
>>>>>>> 216b8f4c273a7e417919d0534d61545e0bb2a0ce
=======
*{
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
}
body {
 font-family: Helvetica,Arial,sans-serif;
 font-size: 16px;
 line-height: 1.254em;
 margin: 0;
 padding: 0;
}
a {
 text-decoration: none;
 color: #3B8BBA;
}
a:hover,
a:visited {
 color: #265778;
}
#container {
 padding-left: 126px;
 position: relative;
 left: 0;
 width: 100%;
}
#menu {
 position: fixed;
 height: 100%;
 background-color: #191818;
 width: 126px;
 left: 0;
}
#menu ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
#menu ul li {
 line-height: 2.9em;
 height: 2.9em;
}
#menu li a {
 display: block;
 color: #fff;
 padding: 0 1em;
 border-bottom: 1px solid #333;
}
#menu li:hover {
 background-color: #454545;
}
#content {
 padding: 1em 8em;
}
#header,
.call-to-action {
 text-align: center;
}
#header{}
#slogan {
 color: #8997A0;
 font-size: 0.8em;
}
.call-to-action {
 padding: 1.5em 20%;
 background: #EFEFEF;
 border: 1px solid#E8E8E8;
}
.row {
 overflow: auto;
 margin: 1.5em auto;
}
.row .col {
 float: left;
 width: 31.3333%;
 margin-right: 2.99%;
}
.row .col:last-child {
 float: right;
 margin-right: 0;
}
.row .col img {
 float: left;
 margin-right: 1em;
}
#footer {
    background-color :#EFEFEF;
    text-align: center
 font-size: 85%;
 border-top: 1px solid #E6E6E6;
 color: #838383;
 padding: 1em 3em;
>>>>>>> 216b8f4c273a7e417919d0534d61545e0bb2a0ce
}